.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 0.5s linear infinite;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  animation: example ease 10s infinite alternate;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes example {
  0%   {background-color: #F694C1;}
  25%  {background-color: #E0BBE4;}
  50%  {background-color: #5BC0BE;}
  100% {background-color: #D3F8E2;}
}